driver-client/driver-client/Connected Services/driver/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Base">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Base" nillable="true" type="tns:Base" />
  <xs:complexType name="Course">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalModules" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:complexType name="CourseModule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContentUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CourseId" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DurationMinutes" type="xs:int" />
          <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="ModuleId" type="xs:int" />
          <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderIndex" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CourseModule" nillable="true" type="tns:CourseModule" />
  <xs:complexType name="Notification">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotificationType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReadAt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RecipientId" type="xs:int" />
          <xs:element minOccurs="0" name="RecipientType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderId" type="xs:int" />
          <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="StudentModuleProgress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompletedAt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CourseId" type="xs:int" />
          <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="ModuleId" type="xs:int" />
          <xs:element minOccurs="0" name="ProgressId" type="xs:int" />
          <xs:element minOccurs="0" name="ProgressPercent" type="xs:int" />
          <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudentModuleProgress" nillable="true" type="tns:StudentModuleProgress" />
  <xs:complexType name="UserInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Confirmed" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustomLessonPrice" type="xs:int" />
          <xs:element minOccurs="0" name="DiscountPercent" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="LessonPrice" type="xs:int" />
          <xs:element minOccurs="0" name="Lessons" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentMethods" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rating" type="xs:double" />
          <xs:element minOccurs="0" name="RatingText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rewiew" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudentId" type="xs:int" />
          <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="AllUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllUsers" nillable="true" type="tns:AllUsers" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
  <xs:complexType name="Calendars">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllDay" type="xs:boolean" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AvailableDays" nillable="true" type="q1:ArrayOfstring" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DatesUnavailable" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SelectedDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SelectedDay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialDaysList" nillable="true" type="tns:ArrayOfSpecialDay" />
          <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Teacherid" type="xs:int" />
          <xs:element minOccurs="0" name="UnavailableDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnavailableDays" nillable="true" type="tns:ArrayOfUnavailableDay" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WorkingHours" nillable="true" type="q3:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Calendars" nillable="true" type="tns:Calendars" />
  <xs:complexType name="ArrayOfSpecialDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialDay" nillable="true" type="tns:SpecialDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialDay" nillable="true" type="tns:ArrayOfSpecialDay" />
  <xs:complexType name="SpecialDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialDay" nillable="true" type="tns:SpecialDay" />
  <xs:complexType name="ArrayOfUnavailableDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnavailableDay" nillable="true" type="tns:UnavailableDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnavailableDay" nillable="true" type="tns:ArrayOfUnavailableDay" />
  <xs:complexType name="UnavailableDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllDay" type="xs:boolean" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnavailableDay" nillable="true" type="tns:UnavailableDay" />
  <xs:complexType name="ArrayOfCalendars">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calendars" nillable="true" type="tns:Calendars" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalendars" nillable="true" type="tns:ArrayOfCalendars" />
  <xs:complexType name="SupportTicket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdminNotes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClosedAt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfTicketMessage" />
          <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TicketId" type="xs:int" />
          <xs:element minOccurs="0" name="UpdatedAt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupportTicket" nillable="true" type="tns:SupportTicket" />
  <xs:complexType name="ArrayOfTicketMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketMessage" nillable="true" type="tns:TicketMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketMessage" nillable="true" type="tns:ArrayOfTicketMessage" />
  <xs:complexType name="TicketMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="SenderUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TicketId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketMessage" nillable="true" type="tns:TicketMessage" />
  <xs:complexType name="ArrayOfSupportTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupportTicket" nillable="true" type="tns:SupportTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupportTicket" nillable="true" type="tns:ArrayOfSupportTicket" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:complexType name="ArrayOfCourseModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseModule" nillable="true" type="tns:CourseModule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseModule" nillable="true" type="tns:ArrayOfCourseModule" />
  <xs:complexType name="ArrayOfStudentCourseProgress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentCourseProgress" nillable="true" type="tns:StudentCourseProgress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentCourseProgress" nillable="true" type="tns:ArrayOfStudentCourseProgress" />
  <xs:complexType name="StudentCourseProgress">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompletedModules" type="xs:int" />
      <xs:element minOccurs="0" name="CourseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleProgress" nillable="true" type="tns:ArrayOfStudentModuleProgress" />
      <xs:element minOccurs="0" name="ProgressPercent" type="xs:int" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalModules" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentCourseProgress" nillable="true" type="tns:StudentCourseProgress" />
  <xs:complexType name="ArrayOfStudentModuleProgress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentModuleProgress" nillable="true" type="tns:StudentModuleProgress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentModuleProgress" nillable="true" type="tns:ArrayOfStudentModuleProgress" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
</xs:schema>