driver-client/driver-client/Connected Services/driver/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ViewDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExist" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherCalendar" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTeacherCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTeacherCalendar" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTeacherCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTeacherCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:TeacherConfirm" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:TeacherConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherReviews" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStudentLessons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentLessons" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStudentLessons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentLessonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacherLessons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacherLessons" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacherLessons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacherLessonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLessonForStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLessonForStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLessonForStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLessonForStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRating_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRating" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsConfirmed_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConfirmed" />
  </wsdl:message>
  <wsdl:message name="IService1_IsConfirmed_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConfirmedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTeacherId_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherId" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTeacherId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MarkLessonPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkLessonPaid" />
  </wsdl:message>
  <wsdl:message name="IService1_MarkLessonPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkLessonPaidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllChat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChat" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacherLessonsForDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacherLessonsForDate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacherLessonsForDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacherLessonsForDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserID" message="tns:IService1_GetUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserIDResponse" message="tns:IService1_GetUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserById" message="tns:IService1_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByIdResponse" message="tns:IService1_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckUserPassword" message="tns:IService1_CheckUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckUserPasswordResponse" message="tns:IService1_CheckUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckUserAdmin" message="tns:IService1_CheckUserAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckUserAdminResponse" message="tns:IService1_CheckUserAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckUserExist" message="tns:IService1_CheckUserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckUserExistResponse" message="tns:IService1_CheckUserExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherCalendar" message="tns:IService1_GetTeacherCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherCalendarResponse" message="tns:IService1_GetTeacherCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTeacherCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTeacherCalendar" message="tns:IService1_SetTeacherCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTeacherCalendarResponse" message="tns:IService1_SetTeacherCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TeacherConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TeacherConfirm" message="tns:IService1_TeacherConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TeacherConfirmResponse" message="tns:IService1_TeacherConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTeacher" message="tns:IService1_GetAllTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTeacherResponse" message="tns:IService1_GetAllTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherReviews" message="tns:IService1_GetTeacherReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherReviewsResponse" message="tns:IService1_GetTeacherReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStudentLessons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllStudentLessons" message="tns:IService1_GetAllStudentLessons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllStudentLessonsResponse" message="tns:IService1_GetAllStudentLessons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacherLessons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTeacherLessons" message="tns:IService1_GetAllTeacherLessons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTeacherLessonsResponse" message="tns:IService1_GetAllTeacherLessons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLessonForStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddLessonForStudent" message="tns:IService1_AddLessonForStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddLessonForStudentResponse" message="tns:IService1_AddLessonForStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateRating" message="tns:IService1_UpdateRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateRatingResponse" message="tns:IService1_UpdateRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsConfirmed">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsConfirmed" message="tns:IService1_IsConfirmed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsConfirmedResponse" message="tns:IService1_IsConfirmed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherStudents" message="tns:IService1_GetTeacherStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherStudentsResponse" message="tns:IService1_GetTeacherStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherId" message="tns:IService1_GetTeacherId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherIdResponse" message="tns:IService1_GetTeacherId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacherId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTeacherId" message="tns:IService1_UpdateTeacherId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTeacherIdResponse" message="tns:IService1_UpdateTeacherId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkLessonPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MarkLessonPaid" message="tns:IService1_MarkLessonPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MarkLessonPaidResponse" message="tns:IService1_MarkLessonPaid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMessage" message="tns:IService1_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMessageResponse" message="tns:IService1_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllChat" message="tns:IService1_GetAllChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllChatResponse" message="tns:IService1_GetAllChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacherLessonsForDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTeacherLessonsForDate" message="tns:IService1_GetAllTeacherLessonsForDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTeacherLessonsForDateResponse" message="tns:IService1_GetAllTeacherLessonsForDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUser" message="tns:IService1_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserResponse" message="tns:IService1_AddUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckUserAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserExist">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckUserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherCalendar">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTeacherCalendar">
      <soap:operation soapAction="http://tempuri.org/IService1/SetTeacherCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeacherConfirm">
      <soap:operation soapAction="http://tempuri.org/IService1/TeacherConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherReviews">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStudentLessons">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllStudentLessons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacherLessons">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTeacherLessons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLessonForStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddLessonForStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsConfirmed">
      <soap:operation soapAction="http://tempuri.org/IService1/IsConfirmed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacherId">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTeacherId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkLessonPaid">
      <soap:operation soapAction="http://tempuri.org/IService1/MarkLessonPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChat">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacherLessonsForDate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTeacherLessonsForDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>