driver-client/driver-client/Connected Services/driver/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ViewDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CancelLesson_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelLesson" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelLesson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelLessonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExist" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherCalendar" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTeacherCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTeacherCalendar" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTeacherCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTeacherCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:TeacherConfirm" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:TeacherConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherReviews" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStudentLessons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentLessons" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStudentLessons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentLessonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacherLessons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacherLessons" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTeacherLessons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeacherLessonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLessonForStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLessonForStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLessonForStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLessonForStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRating_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRating" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsConfirmed_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConfirmed" />
  </wsdl:message>
  <wsdl:message name="IService1_IsConfirmed_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConfirmedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTeacherId_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherId" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTeacherId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MarkLessonPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkLessonPaid" />
  </wsdl:message>
  <wsdl:message name="IService1_MarkLessonPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkLessonPaidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMessageGlobal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageGlobal" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMessageGlobal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageGlobalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllChatGlobal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChatGlobal" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllChatGlobal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChatGlobalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatPrivate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatPrivate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatPrivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatPrivateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMessagePrivate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessagePrivate" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMessagePrivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessagePrivateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPaid" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPaidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pay_InputMessage">
    <wsdl:part name="parameters" element="tns:Pay" />
  </wsdl:message>
  <wsdl:message name="IService1_Pay_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPaymentByPaymentID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaymentByPaymentID" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPaymentByPaymentID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaymentByPaymentIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPaymentByTeacherID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaymentByTeacherID" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPaymentByTeacherID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaymentByTeacherIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherSpacialDays_InputMessage">
    <wsdl:part name="parameters" element="tns:TeacherSpacialDays" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherSpacialDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:TeacherSpacialDaysResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherUnavailableDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherUnavailableDates" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherUnavailableDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherUnavailableDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MigrateAllPasswords_InputMessage">
    <wsdl:part name="parameters" element="tns:MigrateAllPasswords" />
  </wsdl:message>
  <wsdl:message name="IService1_MigrateAllPasswords_OutputMessage">
    <wsdl:part name="parameters" element="tns:MigrateAllPasswordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPaymentByStudentID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaymentByStudentID" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPaymentByStudentID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaymentByStudentIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateSupportTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportTicket" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateSupportTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTickets" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTickets" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicketById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicketById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTicketStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicketStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTicketStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicketStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CloseTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseTicket" />
  </wsdl:message>
  <wsdl:message name="IService1_CloseTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTicketMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTicketMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicketMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketMessages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTicketMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherIncome" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeacherIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOutstandingPayments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutstandingPayments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOutstandingPayments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutstandingPaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOverduePayments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOverduePayments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOverduePayments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOverduePaymentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CancelLesson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CancelLesson" message="tns:IService1_CancelLesson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CancelLessonResponse" message="tns:IService1_CancelLesson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserID" message="tns:IService1_GetUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserIDResponse" message="tns:IService1_GetUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserById" message="tns:IService1_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByIdResponse" message="tns:IService1_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUsers" message="tns:IService1_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUsersResponse" message="tns:IService1_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckUserPassword" message="tns:IService1_CheckUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckUserPasswordResponse" message="tns:IService1_CheckUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckUserAdmin" message="tns:IService1_CheckUserAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckUserAdminResponse" message="tns:IService1_CheckUserAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckUserExist" message="tns:IService1_CheckUserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckUserExistResponse" message="tns:IService1_CheckUserExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherCalendar" message="tns:IService1_GetTeacherCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherCalendarResponse" message="tns:IService1_GetTeacherCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTeacherCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTeacherCalendar" message="tns:IService1_SetTeacherCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTeacherCalendarResponse" message="tns:IService1_SetTeacherCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TeacherConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TeacherConfirm" message="tns:IService1_TeacherConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TeacherConfirmResponse" message="tns:IService1_TeacherConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTeacher" message="tns:IService1_GetAllTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTeacherResponse" message="tns:IService1_GetAllTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherReviews" message="tns:IService1_GetTeacherReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherReviewsResponse" message="tns:IService1_GetTeacherReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStudentLessons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllStudentLessons" message="tns:IService1_GetAllStudentLessons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllStudentLessonsResponse" message="tns:IService1_GetAllStudentLessons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacherLessons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTeacherLessons" message="tns:IService1_GetAllTeacherLessons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTeacherLessonsResponse" message="tns:IService1_GetAllTeacherLessons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLessonForStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddLessonForStudent" message="tns:IService1_AddLessonForStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddLessonForStudentResponse" message="tns:IService1_AddLessonForStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateRating" message="tns:IService1_UpdateRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateRatingResponse" message="tns:IService1_UpdateRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsConfirmed">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsConfirmed" message="tns:IService1_IsConfirmed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsConfirmedResponse" message="tns:IService1_IsConfirmed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherStudents" message="tns:IService1_GetTeacherStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherStudentsResponse" message="tns:IService1_GetTeacherStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherId" message="tns:IService1_GetTeacherId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherIdResponse" message="tns:IService1_GetTeacherId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacherId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTeacherId" message="tns:IService1_UpdateTeacherId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTeacherIdResponse" message="tns:IService1_UpdateTeacherId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkLessonPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MarkLessonPaid" message="tns:IService1_MarkLessonPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MarkLessonPaidResponse" message="tns:IService1_MarkLessonPaid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessageGlobal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMessageGlobal" message="tns:IService1_AddMessageGlobal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMessageGlobalResponse" message="tns:IService1_AddMessageGlobal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChatGlobal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllChatGlobal" message="tns:IService1_GetAllChatGlobal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllChatGlobalResponse" message="tns:IService1_GetAllChatGlobal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatPrivate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetChatPrivate" message="tns:IService1_GetChatPrivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetChatPrivateResponse" message="tns:IService1_GetChatPrivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessagePrivate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMessagePrivate" message="tns:IService1_AddMessagePrivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMessagePrivateResponse" message="tns:IService1_AddMessagePrivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckPaid" message="tns:IService1_CheckPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckPaidResponse" message="tns:IService1_CheckPaid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pay" message="tns:IService1_Pay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PayResponse" message="tns:IService1_Pay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPaymentByPaymentID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectPaymentByPaymentID" message="tns:IService1_SelectPaymentByPaymentID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectPaymentByPaymentIDResponse" message="tns:IService1_SelectPaymentByPaymentID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPaymentByTeacherID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectPaymentByTeacherID" message="tns:IService1_SelectPaymentByTeacherID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectPaymentByTeacherIDResponse" message="tns:IService1_SelectPaymentByTeacherID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TeacherSpacialDays">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TeacherSpacialDays" message="tns:IService1_TeacherSpacialDays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TeacherSpacialDaysResponse" message="tns:IService1_TeacherSpacialDays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherUnavailableDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherUnavailableDates" message="tns:IService1_GetTeacherUnavailableDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherUnavailableDatesResponse" message="tns:IService1_GetTeacherUnavailableDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUser" message="tns:IService1_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserResponse" message="tns:IService1_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MigrateAllPasswords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MigrateAllPasswords" message="tns:IService1_MigrateAllPasswords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MigrateAllPasswordsResponse" message="tns:IService1_MigrateAllPasswords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPaymentByStudentID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectPaymentByStudentID" message="tns:IService1_SelectPaymentByStudentID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectPaymentByStudentIDResponse" message="tns:IService1_SelectPaymentByStudentID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSupportTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateSupportTicket" message="tns:IService1_CreateSupportTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateSupportTicketResponse" message="tns:IService1_CreateSupportTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserTickets" message="tns:IService1_GetUserTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserTicketsResponse" message="tns:IService1_GetUserTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTickets" message="tns:IService1_GetAllTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTicketsResponse" message="tns:IService1_GetAllTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTicketById" message="tns:IService1_GetTicketById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTicketByIdResponse" message="tns:IService1_GetTicketById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTicketStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTicketStatus" message="tns:IService1_UpdateTicketStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTicketStatusResponse" message="tns:IService1_UpdateTicketStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CloseTicket" message="tns:IService1_CloseTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CloseTicketResponse" message="tns:IService1_CloseTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTicketMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTicketMessage" message="tns:IService1_AddTicketMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTicketMessageResponse" message="tns:IService1_AddTicketMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTicketMessages" message="tns:IService1_GetTicketMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTicketMessagesResponse" message="tns:IService1_GetTicketMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeacherIncome" message="tns:IService1_GetTeacherIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeacherIncomeResponse" message="tns:IService1_GetTeacherIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingPayments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOutstandingPayments" message="tns:IService1_GetOutstandingPayments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOutstandingPaymentsResponse" message="tns:IService1_GetOutstandingPayments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOverduePayments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOverduePayments" message="tns:IService1_GetOverduePayments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOverduePaymentsResponse" message="tns:IService1_GetOverduePayments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelLesson">
      <soap:operation soapAction="http://tempuri.org/IService1/CancelLesson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckUserAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserExist">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckUserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherCalendar">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTeacherCalendar">
      <soap:operation soapAction="http://tempuri.org/IService1/SetTeacherCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeacherConfirm">
      <soap:operation soapAction="http://tempuri.org/IService1/TeacherConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherReviews">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStudentLessons">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllStudentLessons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeacherLessons">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTeacherLessons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLessonForStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddLessonForStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsConfirmed">
      <soap:operation soapAction="http://tempuri.org/IService1/IsConfirmed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacherId">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTeacherId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkLessonPaid">
      <soap:operation soapAction="http://tempuri.org/IService1/MarkLessonPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessageGlobal">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMessageGlobal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChatGlobal">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllChatGlobal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatPrivate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetChatPrivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessagePrivate">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMessagePrivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPaid">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap:operation soapAction="http://tempuri.org/IService1/Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPaymentByPaymentID">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectPaymentByPaymentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPaymentByTeacherID">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectPaymentByTeacherID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeacherSpacialDays">
      <soap:operation soapAction="http://tempuri.org/IService1/TeacherSpacialDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherUnavailableDates">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherUnavailableDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MigrateAllPasswords">
      <soap:operation soapAction="http://tempuri.org/IService1/MigrateAllPasswords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPaymentByStudentID">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectPaymentByStudentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSupportTicket">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateSupportTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTickets">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTickets">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTicketById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTicketStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTicketStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseTicket">
      <soap:operation soapAction="http://tempuri.org/IService1/CloseTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTicketMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTicketMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketMessages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTicketMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherIncome">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeacherIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingPayments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOutstandingPayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOverduePayments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOverduePayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>