driver-client/driver-client/Connected Services/driver/ViewDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:complexType name="ArrayOfLessons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lessons" nillable="true" type="tns:Lessons" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLessons" nillable="true" type="tns:ArrayOfLessons" />
  <xs:complexType name="Lessons">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Model" base="q1:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LessonId" type="xs:int" />
          <xs:element minOccurs="0" name="StudentId" type="xs:int" />
          <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
          <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="paid" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lessons" nillable="true" type="tns:Lessons" />
  <xs:complexType name="ArrayOfChats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chats" nillable="true" type="tns:Chats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChats" nillable="true" type="tns:ArrayOfChats" />
  <xs:complexType name="Chats">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Model" base="q2:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsTeacher" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SentAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="studentId" type="xs:int" />
          <xs:element minOccurs="0" name="teacherId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Chats" nillable="true" type="tns:Chats" />
  <xs:complexType name="Payment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Model" base="q3:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:int" />
          <xs:element minOccurs="0" name="NumberOfPayments" type="xs:int" />
          <xs:element minOccurs="0" name="ParcialAmount" type="xs:int" />
          <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PaymentID" type="xs:int" />
          <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudentID" type="xs:int" />
          <xs:element minOccurs="0" name="TeacherID" type="xs:int" />
          <xs:element minOccurs="0" name="paid" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
</xs:schema>