driver-client/driver-client/Connected Services/driver/ViewDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:complexType name="ArrayOfChats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chats" nillable="true" type="tns:Chats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChats" nillable="true" type="tns:ArrayOfChats" />
  <xs:complexType name="Chats">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Model" base="q1:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsTeacher" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Chats" nillable="true" type="tns:Chats" />
</xs:schema>